.afl-floating-wrapper {
  position: relative;
}

.afl-floating-label-box {
  position: absolute;
  bottom: 0;
  top: -0.7rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.afl-floating-label {
  /* box-sizing: border-box; */
  border-radius: 5px;
  border-width: 1px;
}

.afl-floating-label legend {
  margin: 0;
  border: none;
  /* padding: 0 1rem; */
  width: fit-content;
  /* pointer-events: none; */
}

/* .afl-floating-label--active .ant-form-item-label {
  top: -0.5rem;
  background: orange;
  width: fit-content;
} */

/* .afl-floating-label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.afl-floating-label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.afl-floating-label input:focus {
  outline: none;
}

.afl-floating-label label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.afl-floating-label label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.afl-floating-label label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
} */
